/*css du menu*/
.bottom{
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.navs{
  text-align: center;
}
.navs a{
  margin: 0 25px;
}
.navs:hover{
  border-bottom: 1px solid #0078ee;
  /*background-color: #e6f1fe;*/
}

.active{
  border-bottom: 1px solid #0078ee;
  background-color: #e6f1fe;
}

.nav-item .nav-link .btn{
  width: 130px;
  text-align: center;
}

.dropdown-item:active{
  background-color: #fff!important;
}
